*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*Header*/
.header_main{
    padding-left: 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(156, 154, 154);
    border-bottom: 3px solid black;
    height: 15vh;
}

.header_main img{
    width: 10vw;
    border-radius: 100px;
}

.header_main nav{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header_main nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    outline: none;
    font-size: 1.5vw;
    transition: 0.5s;
}

.header_main nav a:hover{
    opacity: 0.7;
    border-top: 1px solid rgb(255, 255, 255);
    transform: scale(1.2,1.2);
}
/*Header Fim*/

/*Section*/
.section_main{
    background-image: url(/assets/10-coisas-que-deixam-as-criancas-felizes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100vw 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2vw;
    height: 70vh;
}

.section_main h1{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.section_main .line{
    width: 50vw;
    height: 1vh;
    background-color:black;
    margin: 3vw 0 3vw 0;
}

.section_main p{
    width: 65vw;
    text-align: left;
    font-size: 1.5vw;
    font-style:bold;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
/*Section Fim*/

/*Footer*/

.footer_main{
    padding-left: 2vw;
    border-top: 3px solid white;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_main ul{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer_main p{
    font-size: 1vw;
}

.footer_main .contact{
    display: flex;
    align-items: center;
}

.footer_main .contact img{
    margin-left:1vw;
    margin-right: 1vw;
    width: 2vw;
}

.footer_main .contact a{
    text-decoration: none;
    color: #000000;
    font-size: 1vw;
}

.footer_main .socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_main .socials a img{
    margin-left:1vw;
    margin-right: 1vw;
    width: 2vw;
}

/*Fotter Fim*/